<style type="text/css">
    .root{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dfe6e9;
        padding:20px;
    }

    .myframe{
        width:600px;
        background-color: #fff;
        padding:20px;
        border-radius: 15px;
    }

    .gap{
        margin-top:10px;
    }

    .btnstyle{
        display:flex; justify-content:center; align-items:center;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/JavaScript/project.js"></script>
<script src="/static/JavaScript/finalproduct.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Material Management[Products]</title>
</head>
<body style="background:#dfe6e9;">
<form action="/updatefinalproductrecord">
<input type="hidden" value="{{ row.3 }}" name="fpid">
 <div class="root">
  <div class="myframe">
      <div class="row" style="display:flex; align-items:center; font-size:14px; letter-spacing: 2px; font-weight:bold; padding-left: 20px; margin-bottom: 10px">
          Update Final Product
      </div>

      <div class="row">
          <div class="col">
              <select name="categoryid" id="categoryid" class="form-control">
                  <option>-Category-</option>
              </select>
          </div>
          <div class="col">
              <select name="subcategoryid" id="subcategoryid" class="form-control">
                  <option>-Sub-Category-</option>
              </select>
          </div>
          <div class="col">
              <select name="productid" id="productid" class="form-control">
                  <option>-Product-</option>
              </select>
          </div>
      </div>

      <div class="row gap">
          <div class="col">
              <input type="text" value="{{ row.4 }}" name="finalproductname" class="form-control" placeholder="Final Product Name">
          </div>
      </div>

      <div class="row gap">
          <div class="col">
              <input type="text" value="{{ row.6 }}" name="sizeunit" class="form-control" placeholder="Size Unit">
          </div>
      </div>

      <div class="row">
          <div class="col">
              <input type="text" value="{{ row.5 }}" name="size" class="form-control" placeholder="Size">
          </div>
      </div>

      <div class="row gap">
          <div class="col">
              <input type="text" value="{{ row.8 }}" name="weightunit" class="form-control" placeholder="Weight Unit">
          </div>
      </div>

      <div class="row">
          <div class="col">
              <input type="text" value="{{ row.7 }}" name="weight" class="form-control" placeholder="Weight">
          </div>
      </div>

      <div class="row gap">
          <div class="col">
              <input type="text" value="{{ row.9 }}" name="color" class="form-control" placeholder="Color">
          </div>
      </div>

      <div class="row gap">
          <div class="col">
              <input type="text" value="{{ row.10 }}" name="price" class="form-control" placeholder="Price">
          </div>
      </div>

      <div class="row gap">
          <div class="col">
              <input type="text" value="{{ row.11 }}" name="stock" class="form-control" placeholder="Stock">
          </div>
      </div>

      <div class="row gap">
          <div class="col btnstyle" style="flex-direction:row;">
              <img src="/static/{{ row.12 }}" id="fpic" width="40">
          </div>
      </div>

      <div class="row gap">
               <div class="col btnstyle" >
                   <button type="submit" name="btn" value="Edit" class="btn btn-primary w-100" >Edit</button>
               </div>

               <div class="col btnstyle">
                   <button type="submit" name="btn" value="Delete" class="btn btn-primary w-100" >Delete</button>
               </div>
      </div>

      <div class="row gap">
               <div class="col btnstyle" style="font-size:18px; font-weight:bold;" >
                   {{ msg }}
               </div>
      </div>


  </div>
 </div>
</form>
</body>
</html>